* {
    scroll-behavior: smooth;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card1 {
    width: 47vmin;
    min-width:20%;
    padding: 0.5vmax;
    padding-bottom: 40px;
    margin: 1vmax;
    border: 0.2vmin solid gray;
    border-radius: 2.7vmin;
    box-shadow: 0.5vmin 0.9vmin 0.9vmin gray;
    flex-grow:2;
}

.images{
    width: 100%;
    image-resolution: 100dpi;
    border-radius: 2.7vmin;

}

.websitesname {
    font-size: 2.5vmax;;
}

.websitesname:hover {
    color: grey;
    cursor: pointer;
}

.source {
    font-size: 1.5vmax;
    color: rgb(97, 157, 157);
}
